
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}


h1, h3, h4 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    color: #4CAF50;  
}
h3 {
    font-size: 24px;
    margin-top: 10px;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
}


.table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}


.table {
    border-collapse: collapse;
    width: 10%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}


.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.table td {
    background-color: #f9f9f9;
}


.table a {
    color: #000000;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}


.table img {
    border-radius: 10%;
    transition: transform 0.3s ease;
}

.table img:hover {
    transform: scale(1.10);
}


div img {
    display: block;
    margin: 5px  auto;
    border-radius: 10px;
}


@media (max-width: 10px) {
    .table-container {
        flex-direction: column;
        align-items: center;
    }
    .table {
        width: 10%;
    }
}
